@tailwind base;
@tailwind components;
@tailwind utilities;


.quicksand {
  font-family: var(--font-quicksand);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  min-height: 30px; /* Ensures the thumb is not too long */
  background: rgba(150, 150, 150, 0.4);
  border-radius: 10px;
}

.responsive-height {
  height: var(--dynamic-height);
}


@media (min-width: 1024px) {
  .responsive-height {
    height: var(--dynamic-height-lg);
  }
  
}



@layer base {
  :root {
    --radius: 0.5rem;
  }
}


